<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employee page</title>
    {% include 'cdnlines.html' %}
  </head>
  <body>
    <div class='container'>
      <h4>Employee Page</h4>
      <form method='POST'>
        {% csrf_token %}
        <label>First name:</label>
        <input type='text' name='firstname' class='form-control'>
        <label>Last name:</label>
        <input type='text' name='lastname' class='form-control'>
        <label>Employee Id:</label>
        <input type='text' name='employeeid' class='form-control'>
        <label>Mobile:</label>
        <input type='number' name='mobile' class='form-control'>
        <label>Date of Birth:</label>
        <input type='date' name='dob' class='form-control'>
        <label>Experience:</label>
        <input type='number' name='experience' class='form-control'>
        <label>salary:</label>
        <input type='number' name='salary' class='form-control'>
        <input type='submit' name='login' class='btn btn-outline-success'>
        <input type='reset' name='clear' class='btn btn-outline-danger'>
      </form>
    <div>
  </body>
</html>
